server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name analytics.dolphin-emu.org analytics.dolphin-emu.net;

    access_log off;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://localhost:5007;
    }

    location /stats {
        alias /home/analytics/stats;
        autoindex on;
    }
}
