server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name dolp.in;

    # Uses a separate certificate from the main *.dolphin-emu.org.
    ssl_certificate /etc/nginx/ssl/dolp.in.pem;
    ssl_certificate_key /etc/nginx/ssl/dolp.in.key;

    access_log /etc/nginx/logs/redirector.access.log main;

    location / {
        proxy_pass http://localhost:8033;
    }
}
