server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name etherpad.dolphin-emu.org etherpad.dolphin-emu.net;
    gzip on;
    gzip_types text/html application/javascript;

    access_log /etc/nginx/logs/etherpad.access.log main;

    location / {
        add_header X-Frame-Options ALLOW;
        proxy_pass http://localhost:8014;
    }
}

server {
    listen [::]:80;
    return 301 https://$host$request_uri;
}
