server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name dolphin.ci;

    access_log /etc/nginx/logs/buildbot.access.log main;

    proxy_set_header X-Url-Scheme $scheme;

    location / {
        proxy_pass http://localhost:8010/;
    }
    location /sse/ {
        proxy_pass http://localhost:8010/sse/;
        proxy_buffering off;
    }
    location /ws {
        proxy_pass http://localhost:8010/ws;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 7200s;
    }
}

server {
    listen 80;
    listen [::]:80;
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name buildbot.dolphin-emu.org buildbot.dolphin-emu.net;

    return 301 https://dolphin.ci$request_uri;
}

server {
    listen 80;
    listen [::]:80;
    return 301 https://$host$request_uri;
}
