server {
    listen 80;
    server_name buildbot.dolphin-emu.org buildbot.dolphin-emu.net;

    access_log logs/buildbot.access.log main;

    location / {
        proxy_pass http://localhost:8010;
    }
}
