server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name symbols.dolphin-emu.org symbols.dolphin-emu.net;

    access_log logs/symbols.access.log main;

    location / {
        root /data/nas/symbols;
        autoindex on;
    }
}
