server {
    listen 80;
    server_name symbols.dolphin-emu.org symbols.dolphin-emu.net;

    access_log logs/symbols.access.log main;

    location / {
        proxy_pass http://dolphin.delroth.net:8000;
    }
}
