server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name dl.dolphin-emu.org dl.dolphin-emu.net;

    access_log /etc/nginx/logs/dl.access.log main;

    location / {
        root /data/nas/dl;
        autoindex off;
    }
}
