cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
oauth2client==4.1.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
requests==2.19.1
rsa==4.7
six==1.11.0
uritemplate==3.0.0
urllib3==1.26.5
