irc:
    server: irc.freenode.net
    port: 6667
    ssl: false
    nick: irrawaddy
    channels:
        - "#dolphin-dev"
        - "#dolphin-test"
    rebuild_repo: dolphin-emu/dolphin

web:
    external_url: https://central.dolphin-emu.org
    bind: 127.0.0.1
    port: 8001

github:
    account:
        login: dolphin-emu-bot
        token: TOKEN
    maintain:
        - dolphin-emu/dolphin
    notify:
        - dolphin-emu/sadm
        - dolphin-emu/www
    trusted_users:
        group: dolphin-emu/trusted-developers
        refresh_interval: 300
    core_users:
        group: dolphin-emu/core-developers
        refresh_interval: 600
    hook_hmac_secret: SECRET
    oauth:
        client_id: CLIENT_ID
        client_secret: CLIENT_SECRET
    rebuild_command: "@dolphin-emu-bot rebuild"
    allow_self_merge_command: "@dolphin-emu-bot allowmerge"
    disallow_self_merge_command: "@dolphin-emu-bot disallowmerge"

buildbot:
    url: https://dolphin.ci/
    jobdir: /home/buildbot/pr-jobdir
    # Builders for which a BuildStatus event is dispatched on completion
    pr_builders:
        - pr-android
        - pr-deb-x64
        - pr-deb-dbg-x64
        - pr-freebsd-x64
        - pr-osx-x64
        - pr-ubu-x64
        - pr-win-x64
        - pr-win-dbg-x64
        - lint
    # Builders for which a PullRequestFifoCIStatus event is dispatched on completion
    fifoci_builders:
        - pr-fifoci-ogl-lin-mesa
        - pr-fifoci-sw-lin-mesa
        - pr-fifoci-ogl-lin-radeon
        - pr-fifoci-uberogl-lin-radeon

fifoci:
    url: https://fifoci.ci/

shortener:
    api_key: API_KEY
